@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Nanum Gothic', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}